body{
    background: #f5f5f5;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #999;
}

::-webkit-scrollbar-button{
    display: none;
}

.head{
    position: absolute;
    width: 100%;
    height: 6vh;
    background: #ffffff;
    box-shadow: 0px 0px 0.5px 0.1px rgba(0,0,0,0.5);
    z-index: 1;
}

.flex-block{
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 0;
    top: 6vh;
}

.left-block, .right-block{
    position: relative;
    width: 15%;
    height: 94vh;
    background: #f0f0f0;
    overflow-y: scroll;
    padding: 0;
}

.center-block{
    position: relative;
    width: 70%;
    height: 15%;
}

.text-block{
    margin: 5vh auto auto auto;
    width: 70%;
    background: #ffffff;
    font-size: 2em;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 0.5px 0.1px rgba(0,0,0,0.75);
    overflow: hidden;
}

.textbox{
    background: #ffffff;
    display: block;
    margin: 2px auto auto auto;
    width: 70%;
    height: 30vh;
    border-style: none;
    box-shadow: 0px 0px 0.5px 0.1px rgba(0,0,0,0.75);
    font-size: 1.8em;
    resize: none;
    font-family: 'Source Sans Pro', sans-serif;
    outline: none;
}

.helptext{
    display: none;
    font-size: 2em;
}

#textbox:disabled{
    background: #ffffff;
}

.block-header{
    padding: 5px 0 5px 0;
    box-sizing: border-box;
    font-size: 1.5em;
    text-align: center;
    border-style: solid;
    border-color: #e3e3e3;
    border-width: 0 0 2px 0;
}

.total{
    margin-top: 5px;
    font-size: 1.2em;
}

.progress-line{
    position: relative;
    width: 85%;
    height: 3vh;
    background: linear-gradient(90deg, rgba(255,95,81,1) 0%, rgba(252,236,77,1) 33%, rgba(85,228,66,1) 66%, rgba(37,147,246,1) 100%);
    margin: 30px auto auto auto;
    box-shadow: 0px 0px 0.5px 0.3px rgba(0,0,0,0.75);
}

.progress-line-process{
    width: 10px;
    height: 120%;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.progress-line-info{
    display: flex;
    width: 107%;
    justify-content: space-between;
    transform: translate(-1.5%, -100%);
}

#again{
    background: white;
    border-style: none;
    font-size: 1.5em;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
    border-radius: 40px;
    margin: 5px auto auto auto;
    display: block;
    box-shadow: 0px 0px 0.5px 0.3px rgba(0,0,0,0.75);
    transition: 0.3s;
    outline: none;
    }

#again:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.name{
    font-size: 2.5em;
    position: absolute;
    left: 1%;
    top: 50%;
    transform: translateY(-50%);
    color: #0289d1;
}

.help{
    margin: 3vh auto auto auto;
    width: 70%;
    transition: 0.3s;
}

.keyboard-block{
    margin: 5vh auto auto auto;
    width: 70%;
}

.key{
    position: relative;
    display: block;
    width: 6%;
    height: 6vh;
    box-shadow: 0px 0px 0.5px 0.3px rgba(0,0,0,0.75);
    color: white;
    transition: 0.1s;
}

.upperkeytext{
    position: absolute;
    left: 5px;
    font-size: 1.3em;
}

.centerkeytext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
}

.bottomkeytext{
    position: absolute;
    bottom: 0;
    right: 5px;
    font-size: 1.3em;
}

.rightupperkeytext{
    position: absolute;
    right: 5px;
    font-size: 1.3em;
}

.text{
    transition: 0.2s;
    white-space: nowrap;
}

.onefinger{background: #f44336}
.twofinger{background: #9c27b0}
.threefinger{background: #3f51b5}
.fourfinger{background: #03a9f4}
.fivefinger{background: #009688}
.sixfinger{background: #8bc34a}
.sevenfinger{background: #fbc02d}
.eightfinger{background: #ff5722}
.activeKey{background: #555555 !important}

.medium{width: 12%;}
.mini{width: 4.5%}
.minimedium{width: 8%;}
.bigmedium{width: 10%;}
.big{width: 13%;}
.verybig{width: 15%;}
.space{
    width: 50%;
    margin: 1vh auto auto auto;
    background: #607d8b;
}

.flex-key{
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
}

.flex-block:first-child{margin-top: 0px;}

.leaderbord{
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    background: #e5e5e5;
}

.block-header:last-child{
    border-color: #d3d3d3;
}

.other-text-button{
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #ffffff;
    bottom: 3%;
    border-style: solid;
    border-width: 2px;
    border-color: #e3e3e3;
    transition: 0.2s;
}

.oth1{
    left: 9%;
}

.oth2{
    right: calc(60px + 91%);
}

.oth3{
    left: calc(60px + 91%);
}

.other-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: #0288d1;
}

.user{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1%;
    color: #0288d1;
    font-size: 2em;
    transition: 0.2s;
}

.user:hover{
    transform: scale(1.2) translateY(-37.5%);
    cursor: pointer;
}

.user-block{
    position: absolute;
    top: 6vh;
    right: 0;
    z-index: 2;
    background: #ffffff;
    box-shadow: 0px 0px 0.5px 0.3px rgba(0,0,0,0.75);
    display: none;
}

.user-block-line{
    font-size: 150%;
    padding: 10px;
    transition: 0.2s;
}

.user-block-line:not(:last-child){
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #f0f0f0;
}

.user-block-line:hover{
    cursor: pointer;
    background: #f0f0f0;
}

.bigBlock{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(155, 155, 155, 0.5);
    z-index: 4;
}

#reg, #logIn, #addText, #leaderboard{display: none}

.otherForm{
    width: 50%;
    background: #f5f5f5;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 32px;
}

.lab{
    display: block;
    margin: 5px auto auto auto;
    text-align: center;
}

.labText{
    font-size: 2em;
}

.labEnter{
    width: 25%;
    font-size: 1.5em;
    border-style: none;
    box-shadow: 0px 0px 0.5px 0.1px rgba(0,0,0,0.75);
}

.formButton{
    font-size: 2em;
    height: 75px;
    margin: 15px auto auto auto;
    display: block;
    border-style: none;
    background: #0288d1;
    color: #ffffff;
    box-shadow: 0px 0px 0.5px 0.1px rgba(0,0,0,0.75);
    min-width: 200px;
}

.formButton:hover{
    cursor: pointer;
}

.text-center{
    text-align: center;
    font-size: 3em;
}

.exit{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2em;
    color: #0288d1;
}

.exit:hover{
    cursor: pointer;
}

.other-text-button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.leaderBlock{
    width: 90%;
    height: 60vh;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 0px 0.5px 0.1px rgba(0,0,0,0.75);
}

.whereAmI{
    width: 90%;
    margin: 20px auto;
    background: #ffffff;
    box-shadow: 0px 0px 0.5px 0.1px rgba(0,0,0,0.75);
}

.leaderInfoFlex{
    display: flex;
    justify-content: space-around;
}

.leaderInfo{
    font-size: 2em;
    width: 100%;
    text-align: center;
    border-style: solid;
    border-color: #e3e3e3;
    border-width: 0 2px 2px 0;
}

.leaderInfo:last-child{
    border-width: 0 0 2px 0;
}

.leader-users{font-size: 0.8em;}
.leaderMe{font-size: 1.2em;}

.leaderMe > div:not(:last-child){border-width: 0px 2px 0px 0px}
.leaderMe > div:last-child{border-width: 0;}

.list-text-block{
    width: 100%;
    max-height: 92vh;
}

.list-text{
    width: 100%;
    padding: 20px 5px 20px 5px;
    box-sizing: border-box;
    border-style: solid;
    border-color: #e3e3e3;
    border-width: 0 0 2px 0;
    font-size: 1.5em;
    transition: 0.2s;
    overflow: hidden;
    white-space: nowrap;
}

.length-text{
    font-size: 0.8em;
}

.list-text:last-child{
    border-style: none;
}

.list-text:hover{
    cursor: pointer;
}

.user-info{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1%;
    display: none;
}

.exit-user{
    font-size: 1.5em;
    color: white;
    background: #f44336;
    border-radius: 50px;
    padding: 5px;
    box-sizing: border-box;
}

.userName{
    font-size: 1.5em;
    margin-right: 10px;
}

.exit-user, .closeMassage:hover{
    cursor: pointer;
}

.massage{
    position: absolute;
    bottom: 2%;
    right: 2%;
    z-index: 10;
    display: none;
    padding: 40px;
}

.massage-text{
    font-size: 2em;
    white-space: nowrap;
}

.closeMassage{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2em;
}
