body{
    background: #f5f5f5;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.head{
    position: absolute;
    width: 100%;
    height: 6vh;
    background: #ffffff;
    box-shadow: 0px 0px 0.5px 0.1px rgba(0,0,0,0.5);
    z-index: 1;
}

.flex-block{
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 0;
    top: 6vh;
}

.left-block, .right-block{
    position: relative;
    width: 15%;
    height: 94vh;
    background: #f0f0f0;
}

.center-block{
    position: relative;
    width: 70%;
    height: 15%;
}

.text-block{
    margin: 5vh auto auto auto;
    width: 70%;
    background: #ffffff;
    font-size: 2em;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 0.5px 0.1px rgba(0,0,0,0.75);
    overflow: hidden;
}

#textbox{
    background: #ffffff;
    display: block;
    margin: 2px auto auto auto;
    width: 70%;
    height: 30vh;
    border-style: none;
    box-shadow: 0px 0px 0.5px 0.1px rgba(0,0,0,0.75);
    font-size: 1.8em;
    resize: none;
    font-family: 'Source Sans Pro', sans-serif;
    outline: none;
}

.helptext{
    display: none;
    font-size: 2em;
}

#textbox:disabled{
    background: #ffffff;
}

.block-header{
    padding: 5px 0 5px 0;
    box-sizing: border-box;
    font-size: 1.5em;
    text-align: center;
    border-style: solid;
    border-color: #e3e3e3;
    border-width: 0 0 2px 0;
}

.total{
    margin-top: 5px;
    font-size: 1.2em;
}

.progress-line{
    position: relative;
    width: 85%;
    height: 3vh;
    background: linear-gradient(90deg, rgba(255,95,81,1) 0%, rgba(252,236,77,1) 33%, rgba(85,228,66,1) 66%, rgba(37,147,246,1) 100%);
    margin: 30px auto auto auto;
    box-shadow: 0px 0px 0.5px 0.3px rgba(0,0,0,0.75);
}

.progress-line-process{
    width: 10px;
    height: 120%;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.progress-line-info{
    display: flex;
    width: 107%;
    justify-content: space-between;
    transform: translate(-1.5%, -100%);
}

#again{
    background: white;
    border-style: none;
    font-size: 1.5em;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
    border-radius: 40px;
    margin: 5px auto auto auto;
    display: block;
    box-shadow: 0px 0px 0.5px 0.3px rgba(0,0,0,0.75);
    transition: 0.3s;
    outline: none;
    }

#again:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.name{
    font-size: 2.5em;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #0288d1;
}

.help{
    margin: 3vh auto auto auto;
    width: 70%;
    transition: 0.3s;
}

.keyboard-block{
    margin: 5vh auto auto auto;
    width: 70%;
}

.key{
    position: relative;
    display: block;
    width: 6%;
    height: 6vh;
    box-shadow: 0px 0px 0.5px 0.3px rgba(0,0,0,0.75);
    color: white;
    transition: 0.1s;
}

.upperkeytext{
    position: absolute;
    left: 5px;
    font-size: 1.3em;
}

.centerkeytext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
}

.bottomkeytext{
    position: absolute;
    bottom: 0;
    right: 5px;
    font-size: 1.3em;
}

.rightupperkeytext{
    position: absolute;
    right: 5px;
    font-size: 1.3em;
}

.text{transition: 0.2s}

.onefinger{background: #f44336}
.twofinger{background: #9c27b0}
.threefinger{background: #3f51b5}
.fourfinger{background: #03a9f4}
.fivefinger{background: #009688}
.sixfinger{background: #8bc34a}
.sevenfinger{background: #fbc02d}
.eightfinger{background: #ff5722}
.activeKey{background: #555555 !important}

.medium{width: 12%;}
.mini{width: 4.5%}
.minimedium{width: 8%;}
.bigmedium{width: 10%;}
.big{width: 13%;}
.verybig{width: 15%;}
.space{
    width: 50%;
    margin: 1vh auto auto auto;
    background: #607d8b;
}

.flex-key{
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
}

.flex-block:first-child{margin-top: 0px;}